.app {
    /*background-color: lightskyblue;*/
}

.Counter_1 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    border: 1px solid;
    width: 450px;
    padding: 14px 80px 14px 80px;
    border-radius: 100px;
    background: black;
}

.score {
    background-color: white;
    text-align: center;
    border: 1px solid;
    height: 80px;
    padding: 6px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    font-size: 60px;
}

.scoreRed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 10px solid ;
    height: 63px;
    padding: 6px;
    color: white;
    font-size: 60px;
    margin: 0 0 10px 0;
    border-radius: 50px;
}

.buttons {
    background-color: white;
    border: 1px solid;
    padding: 6px;
    border-radius: 40px;
}

.butC1 {
    border-radius: 30px;
    width: 210px;
    height: 50px;
    font-size: 20px;
    color: white;
    background: black;
    margin: auto 5px;
}

input {
    width: 50px;
}

.max {
    color: red;
    background-color: hotpink;
    border-color: red;
}