.Counter_1 {
    /*text-align: center;*/
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
}

.wrapper {
    border: 2px solid ;
    width: 200px;
    padding: 14px;
    border-radius: 36px;
}

.score {
    background-color: #fff;
    text-align: center;
    border: 2px solid ;
    height: 80px;
    padding: 6px;
    border-radius: 20px 20px 0 0;
    margin: 0 0 14px 0;
    font-size: 60px;

}

.scoreRed {
    background-color: red;
    text-align: center;
    border: 2px solid #000;
    height: 80px;
    padding: 6px;
    color: #fff;
    font-size: 60px;
    margin: 0 0 14px 0;
    border-radius: 20px 20px 0 0;
}

.buttons {
    border: 2px solid;
    padding: 6px;
    border-radius: 0 0 20px 20px;

}

.butC1 {
    background-color: #fff;
    border-radius: 0 0 14px 14px;
    width: 90px;
    height: 40px;
    outline: none;
    font-size: 20px;
}